.newsContainer {
  font-family: "titilliumweb-Regular";
  overflow: hidden;
}
.newsWrapper {
  margin-bottom: 20px;
  padding: 0 16px 0 16px;
}

.header {
  background: linear-gradient(134.42deg, #004fa1 16.18%, #17315b 100%);
  font-family: "titilliumweb-Bold";
  color: rgba(255, 255, 255, 1);
  padding: 10px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-bottom: 12px;
}
.newsList {
  display: none;
}
.newsItem {
  border-bottom: 1px solid #ddd;
}
.newsItem:last-child {
  border-bottom: none;
}

.newsItem img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}
.newsItems img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}
.newsItems {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}
.author {
  font-size: 12px;
  color: rgba(102, 102, 102, 1);
  margin-bottom: 5px;
}
.author span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 102, 204, 1);
}
.newsOneTitle {
  font-family: "titilliumweb-Bold";
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(34, 34, 34, 1);
  margin-bottom: 4px;
}
.newsTitle {
  font-size: 15px;
  line-height: 20px;
  font-family: "titilliumweb-Bold";
  font-weight: 700;
  color: rgba(34, 34, 34, 1);
  margin-bottom: 6px;
}
.newsDescription {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}
.readMore {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: "titilliumweb-Bold";
  color: rgba(0, 102, 204, 1);
  text-decoration: none;
}
.viewMore {
  display: block;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: rgba(0, 102, 204, 1);
  text-decoration: none;
  padding: 12px;
  font-family: "titilliumweb-Regular";
}
.layoutTwo {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.newsTwo {
  margin-bottom: 25px;
}
.layoutTwo img {
  width: 110px;
  height: 82px;
  object-fit: cover;
}

.layoutTwo .content {
  flex: 1;
}

@media screen and (min-width: 768px) {
  .header {
    background: linear-gradient(134.42deg, #004fa1 16.18%, #17315b 100%);
    font-family: "titilliumweb-Bold";
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin-bottom: 0;
  }
  .newsContainer {
    margin: 0 16px;
    padding: 0;
    border-radius: 8px;
    border: 1px solid rgba(218, 228, 233, 1);
    box-shadow: rgba(133, 150, 195, 0.26);
  }
  .newsWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px 0 8px;
  }
  .featuredNews {
    flex: 1;
  }
  .newsItems {
    display: none;
  }
  .newsList {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }
  .featuredNews {
    margin-top: 16px;
  }
  .newsItem {
    padding: 8px;
  }
  .newsItem:first-child {
    border-bottom: none;
  }
}

@media screen and (min-width: 1349px) {
  .newsContainer {
    margin: 0 32px;
    border-radius: 8px;
    border: 1px solid rgba(218, 228, 233, 1);
    box-shadow: rgba(133, 150, 195, 0.26);
  }
  .header {
    padding: 10px 24px;
  }

  .newsWrapper {
    padding: 0 16px 0 16px;
  }

  .viewMore {
    display: block;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(0, 102, 204, 1);
    text-decoration: none;
    padding: 12px;
    font-family: "titilliumweb-Regular";
  }
}
